
.swiper-pagination-bullet-active {
	background: #FF4500;
}
.swiper-container-horizontal > .swiper-pagination {
	bottom: 1em;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff4500'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff4500'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}


    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #666;
        font-family: latoregular, Arial, sans-serif;
        font-size: 1em;
        color:#222;
        margin: 0;
        padding: 0;
    }
    h1, h2, h3, h4, h5, h6, strong {
        font-family: latobold, Arial, sans-serif;
        font-weight: normal;
        color:#111;
    } 
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 1.5em;
        background: #fff;
        padding: 2em; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        /* Center slide text vertically 
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
    }
    
    .cours-footer {
      position: absolute;
      bottom: 1em;
      left: 1em;
      width: 100%;
      z-index: 9;
      color: #333;
			font-size: .8em;
			line-height: 1;
    }
    
    .left {
      text-align: left;
      margin: 1em auto;
      width: 75%;
    }
    
    .align-left {
      text-align: left;
    }
    
    .swiper-slide ul, .swiper-slide ol {
      margin-top: .5em;
    }
    .swiper-slide li {
      margin-bottom: .5em;
    }
    
    .col-10, .col-20, .col-25, .col-30, .col-33, .col-40, .col-50, .col-60, .col-66, .col-70, .col-75, .col-80, .col-90 {
      float: left;
      max-width: 100%;
      margin-bottom: 1em;
      padding: 1em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    .col-10 { width: 10%;padding:0;}
    .col-20 { width: 20%;padding:0;}
    .col-25 { width: 25%;padding:.5em;}
    .col-30 { width: 30%;padding:.5em;}
    .col-33 { width: 33.33333333%;padding:.5em;}
    .col-40 { width: 40%;}
    .col-50 { width: 50%;}
    .col-60 { width: 60%;}
    .col-66 { width: 66.66666666%;}
    .col-70 { width: 70%;}
    .col-75 { width: 75%;}
    .col-80 { width: 80%;}
    .col-90 { width: 90%;}
    
    
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
    